* {
    margin: 0;
}

.cardShadow:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.gradBg {
    background: linear-gradient(135deg, #6d28d9, #4f46e5);
}
.Hovering:hover {
    background: linear-gradient(135deg, #531ea8, #4f46e5);
}

.TaskDescription, .TaskTitle  {
    overflow-wrap: break-word;
    white-space: pre-wrap;
}